In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('homework.csv')

In [5]:
data.head(20)

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
5,11,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311,15.2,392.52,20.45,15.0
6,12,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311,15.2,396.90,13.27,18.9
7,13,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311,15.2,390.50,15.71,21.7
8,14,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
9,15,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307,21.0,380.02,10.26,18.2
10,16,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47,19.9
11,17,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307,21.0,386.85,6.58,23.1
12,19,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307,21.0,288.99,11.69,20.2
13,21,1.25179,0.0,8.14,0,0.538,5.570,98.1,3.7979,4,307,21.0,376.57,21.02,13.6
14,22,0.85204,0.0,8.14,0,0.538,5.965,89.2,4.0123,4,307,21.0,392.53,13.83,19.6
15,23,1.23247,0.0,8.14,0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72,15.2
16,24,0.98843,0.0,8.14,0,0.538,5.813,100.0,4.0952,4,307,21.0,394.54,19.88,14.5
17,28,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307,21.0,306.38,17.28,14.8
18,31,1.13081,0.0,8.14,0,0.538,5.713,94.1,4.2330,4,307,21.0,360.17,22.60,12.7
19,32,1.35472,0.0,8.14,0,0.538,6.072,100.0,4.1750,4,307,21.0,376.73,13.04,14.5

In [7]:
data.shape

(333, 15)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [9]:
data.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,147.859438,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,123.000000,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,244.000000,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,377.000000,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,506.000000,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [10]:
data.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [11]:
data_filtered = data[['ID', 'crim', 'nox', 'rm', 'age', 'dis', 'rad', 'black', 'lstat', 'medv']]

In [12]:
data_filtered.head()

   ID     crim    nox     rm   age     dis  rad   black  lstat  medv
0   1  0.00632  0.538  6.575  65.2  4.0900    1  396.90   4.98  24.0
1   2  0.02731  0.469  6.421  78.9  4.9671    2  396.90   9.14  21.6
2   4  0.03237  0.458  6.998  45.8  6.0622    3  394.63   2.94  33.4
3   5  0.06905  0.458  7.147  54.2  6.0622    3  396.90   5.33  36.2
4   7  0.08829  0.524  6.012  66.6  5.5605    5  395.60  12.43  22.9

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import  SVC

In [14]:
# Формируем признаки и целевую переменную
X, y = data_filtered[['ID', 'crim', 'nox', 'rm', 'age', 'dis', 'rad', 'black', 'lstat']], data_filtered['medv']

In [15]:
# Разделяем данные на данные для обучения и проверки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
X_train.head()

      ID      crim    nox     rm   age     dis  rad   black  lstat
157  230   0.44178  0.504  6.552  21.4  3.3751    8  380.34   3.76
303  465   7.83932  0.655  6.209  65.4  2.9634   24  396.90  13.22
278  432  10.06230  0.584  6.833  94.3  2.0882   24   81.33  19.69
118  173   0.13914  0.510  5.572  88.5  2.5961    5  396.90  14.69
316  481   5.82401  0.532  6.242  64.7  3.4242   24  396.90  10.74

In [17]:
y_train.head()

157    31.5
303    21.4
278    14.1
118    23.1
316    23.0
Name: medv, dtype: float64

In [18]:
# Приводим данные к одному масштабу
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
X_train

array([[-0.14242743, -0.41619392, -0.45176777, ..., -0.17390165,
         0.24189106, -1.2082558 ],
       [ 1.49809934,  0.72532672,  0.87457564, ...,  1.68104925,
         0.43748265,  0.13012804],
       [ 1.2677275 ,  1.06835664,  0.25093073, ...,  1.68104925,
        -3.28974197,  1.04549204],
       ...,
       [-0.39374217, -0.48099059, -1.35649208, ..., -0.98544266,
         0.39578951, -1.02857848],
       [-0.62411402, -0.28785668,  0.43538908, ..., -0.52170494,
        -0.24732415, -0.96208372],
       [ 0.39510687, -0.47278743, -0.73284716, ..., -0.28983608,
         0.43748265, -0.82484986]])

In [20]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [21]:
X_train.head()

,ID,crim,nox,rm,age,dis,rad,black,lstat
0,-0.142427,-0.416194,-0.451768,0.363014,-1.667227,-0.156666,-0.173902,0.241891,-1.208256
1,1.498099,0.725327,0.874576,-0.096638,-0.098917,-0.368617,1.681049,0.437483,0.130128
2,1.267727,1.068357,0.250931,0.739579,0.931178,-0.819187,1.681049,-3.289742,1.045492
3,-0.540342,-0.462895,-0.399065,-0.950276,0.724446,-0.557710,-0.521705,0.437483,0.338101
4,1.609795,0.414343,-0.205823,-0.052415,-0.123868,-0.131388,1.681049,0.437483,-0.220738