In [4]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. \
Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), \
didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

In [86]:
len(string_01) - string_01.count(' ')

250

In [16]:
string_02 = string_01.split(' ')
len(string_02)

61

In [37]:
def letter():
    x = input('Буква: ')
    for word in string_02:
        for letter in word:
            if letter == x and word[-1]==x:
                print (word)
letter()

Буква: d
killed
pulled
had
and
wind

In [38]:
def letter():
    x = input('Буква: ')
    for word in string_02:
        for letter in word:
            if letter == x and word[0]==x:
                print (word)
letter()

Буква: g
gun
gone

In [88]:
import random

In [104]:
r = random.randint(100000,999999)
if '3' in str(r):
    print(r)

325573

In [62]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [69]:
list_02 = []
for l in list_01:
    if 10<=l<=100:
        list_02.append(l)
sum(list_02)

212

In [82]:
students = [["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],    \
            ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"], \
            ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],     \
            ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],    \
            ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],   \
            ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],     \
            ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],\
            ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"]]

list

In [115]:
students2 = {}
for student in students:
    students2 [student[0]] = student[1:6]
print (students2)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [121]:
def new_group(st_n, gr_n):
    students2[st_n][4] = gr_n

new_group('0045', 'БСТ164')
print (students2)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ164'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [131]:
def st_names():
    gr_n = input("Введите номер группы ")
    for student in students2.values():
        if student[4] == gr_n:
            print (student[0:2])
st_names()

Введите номер группы БСТ161
['Антонов', 'Антон']
['Степанова', 'Наталья']

In [132]:
matrix = [ [0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0] ]

In [133]:
import numpy as np

In [135]:
np.sum(matrix)

89

In [139]:
matrix_max = max(np.sum(matrix, axis=0))
print(matrix_max)

22