In [1]:
import pandas as pd

In [64]:
data = pd.read_csv('Online Retail.csv')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 8:34,"5,95",13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/10 8:34,"4,95",13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 9:02,"2,75",17850.0,United Kingdom

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 9 columns):
InvoiceNo      54214 non-null object
StockCode      54214 non-null object
Description    54080 non-null object
Quantity       54214 non-null int64
InvoiceDate    54214 non-null object
UnitPrice      54214 non-null float64
CustomerID     40643 non-null float64
Country        54214 non-null object
total          54214 non-null float64
dtypes: float64(3), int64(1), object(5)
memory usage: 3.7+ MB

In [69]:
# Тип поля стоимости одной единицы продукции не является числом. Для того, чтобы его преобразовать в число с плавающей точкой,
# сначала заменим запятую на точку, а затем сделаем преобразование.
data['UnitPrice'] = [x.replace(',', '.') for x in data['UnitPrice']]
data['UnitPrice'] = data['UnitPrice'].astype(float)

AttributeError: 'float' object has no attribute 'replace'

In [76]:
#Теперь стоимость одной единицы продукции - это число, и можно посчитать сумму строки.Добавим для этого новое поле Total
data['Total'] = (data['Quantity']*data['UnitPrice'])
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom,20.34
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,1.69,13047.0,United Kingdom,54.08
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 8:34,5.95,13047.0,United Kingdom,17.85
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/10 8:34,4.95,13047.0,United Kingdom,14.85
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 9:02,2.75,17850.0,United Kingdom,22.00

In [95]:
#Сгруппируем данные по чекам (InvoiceNo), посмотрим общие суммы чеков
data_grouped_inv = data.groupby('InvoiceNo').sum()
data_grouped_inv

           Quantity  UnitPrice  CustomerID   Total
InvoiceNo
536365            6       3.39     17850.0   20.34
536367           35       7.64     26094.0   71.93
536368            3       4.95     13047.0   14.85
536373            8       2.75     17850.0   22.00
536375            6       2.55     17850.0   15.30
536378           10       2.95     14688.0   29.50
536381           16      23.19    137799.0   41.32
536382           18      22.80     48294.0  103.80
536384            6       6.95     18074.0   41.70
536385           10       1.65     17420.0   16.50
536386          100       1.65     16029.0  165.00
536388           18       4.40     32500.0   35.10
536389           34      10.05     37293.0   68.10
536390          192       2.12     35022.0  163.20
536393            8       9.95     13747.0   79.60
536395           24      11.15     41301.0   89.20
536398           14      10.65     40344.0   48.50
536401           22      28.30    190344.0   59.10
536402           76       6.80     31026.0  255.00
536403           96       1.85     12791.0  177.60
536404          106       5.80     97308.0   86.10
536406           12       3.61     35700.0   21.66
536407            6       1.85     17850.0   11.10
536408           12       1.25     14307.0   15.00
536409           29      11.22     89540.0   15.93
536412           16      32.55    179200.0   53.15
536415           23       5.85     51352.0   28.50
536416            6       2.95     13255.0   17.70
536420           12       1.45     16583.0   17.40
536425           28      18.60     55032.0   89.80
...             ...        ...         ...     ...
C579894          -1       1.25     13098.0   -1.25
C579897          -2       2.95     17636.0   -5.90
C579906          -1       1.65     17063.0   -1.65
C579928          -1      25.00     14121.0  -25.00
C579945          -1       0.85     15993.0   -0.85
C579948          -1       4.95     16376.0   -4.95
C580056          -1       2.55     14911.0   -2.55
C580099          -1      20.80     13171.0  -20.80
C580263         -16       0.29     12536.0   -4.64
C580686          -2       4.60     31968.0   -4.60
C580708         -12       1.25     14546.0  -15.00
C580711          -1      12.75     16057.0  -12.75
C580751         -10       2.08     12921.0  -20.80
C580761          -2       9.90     35056.0   -9.90
C580762          -2       4.25     14543.0   -8.50
C580768          -1      12.50     13914.0  -12.50
C580832         -16       7.04     25506.0  -53.10
C580912         -24       2.55     12989.0  -61.20
C580913        -120       0.36     17857.0  -43.20
C580919          -5       6.10     33142.0  -11.95
C580954         -48       5.00     25934.0  -75.00
C580968          -4       5.95     15622.0  -23.80
C581117          -1       1.25     16393.0   -1.25
C581145         -38       1.04     17490.0  -39.52
C581178          -1       8.95     15525.0   -8.95
C581228         -24       6.75     16019.0 -162.00
C581229         -36       1.27     25116.0  -25.44
C581322          -1       2.95     18223.0   -2.95
C581330         -25       0.42     15877.0  -10.50
C581465          -1       8.50     15755.0   -8.50

[14877 rows x 4 columns]

In [96]:
#Посмотрим количество покупок по странам
data_grouped_countries = data.groupby('Country').sum().sort_values('Country').reset_index()
data_grouped_countries

                 Country  Quantity   UnitPrice   CustomerID       Total
0              Australia      9973     334.340    1617853.0   17072.960
1                Austria       449     161.840     600807.0    1036.270
2                Bahrain         6       2.950      12355.0      17.700
3                Belgium      2392     764.920    2622878.0    4032.060
4                 Brazil        28      18.450      38307.0      79.800
5                 Canada       226      18.770     224716.0     214.140
6        Channel Islands      1567     431.670    1204381.0    2877.950
7                 Cyprus       850     503.620     758019.0     737.260
8         Czech Republic        36       4.900      25562.0      82.200
9                Denmark       742     113.990     434313.0    2058.840
10                  EIRE     13845    5489.260   10615425.0   27443.140
11    European Community        33      26.500      75540.0      80.900
12               Finland      1017     299.850     900587.0    2040.600
13                France     11104    2929.530   11074752.0   19472.990
14               Germany     11993    4384.710   12018930.0   22519.200
15                Greece       158      49.460     199060.0     490.820
16             Hong Kong       372    2675.050          0.0   -1704.750
17               Iceland       161      45.730     185205.0     271.790
18                Israel       331     193.750     252916.0     531.720
19                 Italy       760     333.550     970257.0    1438.620
20                 Japan      1474      72.090     420953.0    2001.580
21               Lebanon         8       4.950      12764.0      39.600
22             Lithuania       104      19.300      91992.0     291.600
23                 Malta        38      76.300     153408.0     282.100
24           Netherlands     20917     824.160    3354237.0   26267.780
25                Norway      1800    1096.410    1305696.0    3859.900
26                Poland       461     165.090     561263.0     904.930
27              Portugal      1830    1821.550    1885236.0    3442.350
28                   RSA        29       7.920      49784.0      42.140
29             Singapore       372     297.230     318600.0     720.480
30                 Spain      2934     912.480    3304514.0    5955.580
31                Sweden      4200     211.880     765462.0    3748.520
32           Switzerland      3539     607.900    2265321.0    6209.300
33                   USA       -28      61.350     290357.0     102.260
34  United Arab Emirates        38      18.030      78965.0      96.420
35        United Kingdom    426989  208411.791  562181627.0  844816.921
36           Unspecified       292     126.910     292111.0     520.220

In [82]:
#Выберем только Финляндию
data_fin = data [(data['Country'] == 'Finland')]
data_fin.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total
3387,539318,21213,PACK OF 72 SKULL CAKE CASES,24,12/16/10 19:09,0.55,12348.0,Finland,13.20
10202,544886,21239,PINK POLKADOT CUP,16,2/24/11 11:42,0.85,12582.0,Finland,13.60
10203,544886,20677,PINK POLKADOT BOWL,16,2/24/11 11:42,1.25,12582.0,Finland,20.00
10648,545226,21002,ROSE DU SUD DRAWSTRING BAG,3,3/1/11 9:33,4.25,12428.0,Finland,12.75
10649,545226,21121,SET/10 RED POLKADOT PARTY CANDLES,24,3/1/11 9:33,1.25,12428.0,Finland,30.00
10650,545226,21122,SET/10 PINK POLKADOT PARTY CANDLES,24,3/1/11 9:33,1.25,12428.0,Finland,30.00
10651,545226,22176,BLUE OWL SOFT TOY,6,3/1/11 9:33,2.95,12428.0,Finland,17.70
10652,545226,35915B,BLUE KNITTED HEN,6,3/1/11 9:33,1.65,12428.0,Finland,9.90
10653,545226,22918,HERB MARKER PARSLEY,12,3/1/11 9:33,0.65,12428.0,Finland,7.80
10654,545226,22921,HERB MARKER CHIVES,12,3/1/11 9:33,0.65,12428.0,Finland,7.80
10655,545226,47590A,BLUE HAPPY BIRTHDAY BUNTING,3,3/1/11 9:33,5.45,12428.0,Finland,16.35
10656,545226,22498,WOODEN REGATTA BUNTING,3,3/1/11 9:33,5.95,12428.0,Finland,17.85
10657,545226,22868,NUMBER TILE COTTAGE GARDEN 0,8,3/1/11 9:33,1.95,12428.0,Finland,15.60
10658,545226,22870,NUMBER TILE COTTAGE GARDEN 2,8,3/1/11 9:33,1.95,12428.0,Finland,15.60
10659,545227,22489,PACK OF 12 TRADITIONAL CRAYONS,24,3/1/11 9:35,0.42,12428.0,Finland,10.08
10660,545227,22507,MEMO BOARD RETROSPOT DESIGN,8,3/1/11 9:35,4.95,12428.0,Finland,39.60
10661,545227,47367B,PAIR PADDED HANGERS PINK CHECK,8,3/1/11 9:35,3.75,12428.0,Finland,30.00
10662,545227,35241,ENAMEL BLUE RIM BISCUIT BIN,3,3/1/11 9:35,4.95,12428.0,Finland,14.85
10663,545227,21217,RED RETROSPOT ROUND CAKE TINS,5,3/1/11 9:35,9.95,12428.0,Finland,49.75
10664,545227,22204,MILK PAN BLUE POLKADOT,8,3/1/11 9:35,3.75,12428.0,Finland,30.00

In [97]:
#Сгруппируем по чекам
data_invoices = data.groupby('InvoiceNo').sum()
data_invoices

           Quantity  UnitPrice  CustomerID   Total
InvoiceNo
536365            6       3.39     17850.0   20.34
536367           35       7.64     26094.0   71.93
536368            3       4.95     13047.0   14.85
536373            8       2.75     17850.0   22.00
536375            6       2.55     17850.0   15.30
536378           10       2.95     14688.0   29.50
536381           16      23.19    137799.0   41.32
536382           18      22.80     48294.0  103.80
536384            6       6.95     18074.0   41.70
536385           10       1.65     17420.0   16.50
536386          100       1.65     16029.0  165.00
536388           18       4.40     32500.0   35.10
536389           34      10.05     37293.0   68.10
536390          192       2.12     35022.0  163.20
536393            8       9.95     13747.0   79.60
536395           24      11.15     41301.0   89.20
536398           14      10.65     40344.0   48.50
536401           22      28.30    190344.0   59.10
536402           76       6.80     31026.0  255.00
536403           96       1.85     12791.0  177.60
536404          106       5.80     97308.0   86.10
536406           12       3.61     35700.0   21.66
536407            6       1.85     17850.0   11.10
536408           12       1.25     14307.0   15.00
536409           29      11.22     89540.0   15.93
536412           16      32.55    179200.0   53.15
536415           23       5.85     51352.0   28.50
536416            6       2.95     13255.0   17.70
536420           12       1.45     16583.0   17.40
536425           28      18.60     55032.0   89.80
...             ...        ...         ...     ...
C579894          -1       1.25     13098.0   -1.25
C579897          -2       2.95     17636.0   -5.90
C579906          -1       1.65     17063.0   -1.65
C579928          -1      25.00     14121.0  -25.00
C579945          -1       0.85     15993.0   -0.85
C579948          -1       4.95     16376.0   -4.95
C580056          -1       2.55     14911.0   -2.55
C580099          -1      20.80     13171.0  -20.80
C580263         -16       0.29     12536.0   -4.64
C580686          -2       4.60     31968.0   -4.60
C580708         -12       1.25     14546.0  -15.00
C580711          -1      12.75     16057.0  -12.75
C580751         -10       2.08     12921.0  -20.80
C580761          -2       9.90     35056.0   -9.90
C580762          -2       4.25     14543.0   -8.50
C580768          -1      12.50     13914.0  -12.50
C580832         -16       7.04     25506.0  -53.10
C580912         -24       2.55     12989.0  -61.20
C580913        -120       0.36     17857.0  -43.20
C580919          -5       6.10     33142.0  -11.95
C580954         -48       5.00     25934.0  -75.00
C580968          -4       5.95     15622.0  -23.80
C581117          -1       1.25     16393.0   -1.25
C581145         -38       1.04     17490.0  -39.52
C581178          -1       8.95     15525.0   -8.95
C581228         -24       6.75     16019.0 -162.00
C581229         -36       1.27     25116.0  -25.44
C581322          -1       2.95     18223.0   -2.95
C581330         -25       0.42     15877.0  -10.50
C581465          -1       8.50     15755.0   -8.50

[14877 rows x 4 columns]

In [98]:
#Посчитаем среднюю сумму чека
av_inv = (data_invoices ['Total'].sum())/(data_invoices ['Total'].count())
av_inv

67.22429864892116

In [99]:
#Посчитаем, сколько товаров в среднем в чеке
av_num = (data_invoices ['Quantity'].sum())/(data_invoices ['Quantity'].count())
av_num

35.02319015930631